<div class="form-row">
  <div class="form-group col">
    <%= f.label 'DDD' %>
    <%= f.number_field :ddd, class: 'form-control'  %>
  </div>
  <div class="form-group col">
    <%= f.label 'Número' %>
    <%= f.text_field :number, class: 'form-control'  %>
  </div>
</div>