<!-- Sidebar -->
<nav class="d-flex flex-column align-items-center sidebar-style bg-light" id="sidebar">
    <div class="sidebar-header">
        <h3 class="border-bottom border-dark pb-3">Filtros</h3>
    </div>

    <ul class="pt-3 list-unstyled components">
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Portfolio</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</nav>