<div class="form-row">
  <div class="form-group col">
    <h3> Código do banco </h3>
    <p><%= account.bank_code %></p>
  </div>
  <div class="form-group col">
    <h3> Agência </h3>
    <p><%= account.agency %></p>
  </div>
</div>
<div class="form-group">
  <h3> Número </h3>
  <p><%= account.number %></p>
</div>

