/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require @fortawesome/fontawesome-free
 *= require_tree .
 *= require_self
 */


body {
    background: linear-gradient(180deg, #B7D8FF 0%, rgba(183, 216, 255, 0.610417) 45.83%, rgba(169, 193, 221, 0.15) 100%);
}

.content {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    min-height: 100vh;
}

.btn-color {
    background-color: #686DA1;
    color: white;
    font-size: 14px;
    transition: opacity 0.2s;
}

.btn-color:hover {
    opacity: 0.8;
    color: white;
}