// Place all the styles related to the DirectTreasures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.padding-header {
    padding-top: 75px;
}

.due-date {
    width: 24rem;
}

.btn-color {
    background-color: #686DA1;
    color: white;
    font-size: 17px !important;
    transition: opacity 0.2s;
}

.btn-color:hover {
    opacity: 0.8;
    color: white;
}

.text-size {
    font-size: 20px;
}

.product-card {
    width: 18rem;
    border-color: #ababd2;
    background-color: #eceefa;
}

.card-body {
    position: relative;
    height: 20rem;
}

.product-title {
    color: #686DA1;
    font-size: 22px;
    text-align: center;
}

.product-title:hover {
    color: #686DA1;
    text-decoration: none;
}
  
.content {
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-right: 0 !important;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    transition-duration: 0.5s;
}

#sidebar.active {
    margin-left: -250px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.sidebar-style {
    padding-top: 10rem !important;
    padding: 1rem;
    color: #232323;
    font-size: 20px;
}

.navbar-padding {
    padding-left: 0 !important;
}

.box-size {
  font-size: 17px;
}

.align-box {
  margin-top: 12px;
  margin-right: 4px;
}