<div class="row justify-content-center align-items-center">
  <div class="col-md-6 text-right">
    <svg width="100%" height="100%" viewBox="0 0 700 500" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M350 111.956C281.895 111.955 216.579 140.942 168.422 192.54C120.264 244.137 93.2093 314.118 93.2092 387.087H606.791C606.791 314.118 579.736 244.137 531.578 192.54C483.421 140.942 418.105 111.955 350 111.956Z" fill="black" fill-opacity="0.0280374"/>
        <path d="M252.651 212.281C254.306 212.281 255.649 210.843 255.649 209.069C255.649 207.296 254.306 205.858 252.651 205.858C250.995 205.858 249.653 207.296 249.653 209.069C249.653 210.843 250.995 212.281 252.651 212.281Z" fill="white"/>
        <path d="M334.917 172.671C336.573 172.671 337.915 171.233 337.915 169.459C337.915 167.685 336.573 166.247 334.917 166.247C333.262 166.247 331.92 167.685 331.92 169.459C331.92 171.233 333.262 172.671 334.917 172.671Z" fill="white"/>
        <path d="M556.736 303.992C557.656 303.992 558.401 303.193 558.401 302.208C558.401 301.222 557.656 300.423 556.736 300.423C555.816 300.423 555.071 301.222 555.071 302.208C555.071 303.193 555.816 303.992 556.736 303.992Z" fill="white"/>
        <path d="M430.173 178.38C431.092 178.38 431.838 177.581 431.838 176.596C431.838 175.611 431.092 174.812 430.173 174.812C429.253 174.812 428.507 175.611 428.507 176.596C428.507 177.581 429.253 178.38 430.173 178.38Z" fill="white"/>
        <path d="M260.311 153.401C261.231 153.401 261.977 152.602 261.977 151.616C261.977 150.631 261.231 149.832 260.311 149.832C259.392 149.832 258.646 150.631 258.646 151.616C258.646 152.602 259.392 153.401 260.311 153.401Z" fill="white"/>
        <path d="M135.746 331.113C136.666 331.113 137.412 330.314 137.412 329.329C137.412 328.343 136.666 327.544 135.746 327.544C134.827 327.544 134.081 328.343 134.081 329.329C134.081 330.314 134.827 331.113 135.746 331.113Z" fill="white"/>
        <path d="M553.405 181.949C554.325 181.949 555.071 181.15 555.071 180.165C555.071 179.179 554.325 178.38 553.405 178.38C552.486 178.38 551.74 179.179 551.74 180.165C551.74 181.15 552.486 181.949 553.405 181.949Z" fill="white"/>
        <path d="M267.639 279.726C268.558 279.726 269.304 278.927 269.304 277.942C269.304 276.956 268.558 276.158 267.639 276.158C266.719 276.158 265.973 276.956 265.973 277.942C265.973 278.927 266.719 279.726 267.639 279.726Z" fill="white"/>
        <path d="M186.455 161.602C187.374 161.602 188.12 160.803 188.12 159.817C188.12 158.832 187.374 158.033 186.455 158.033C185.535 158.033 184.789 158.832 184.789 159.817C184.789 160.803 185.535 161.602 186.455 161.602Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M202.701 194.702L200.991 206.575L211.464 210.864L200.383 209.031L196.379 220.253L198.09 208.38L187.617 204.091L198.698 205.923L202.701 194.702Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M573.995 208.85L572.546 217.637L579.256 222.922L571.055 221.369L566.122 228.559L567.571 219.772L560.861 214.487L569.062 216.04L573.995 208.85Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M375.632 148.693L374.093 154.021L377.946 157.77L372.974 156.121L369.474 160.249L371.013 154.922L367.16 151.172L372.133 152.821L375.632 148.693Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M118.211 358.269L110.315 362.581L112.588 371.758L108.564 363.298L99.9993 365.734L107.894 361.422L105.622 352.245L109.646 360.705L118.211 358.269Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M576.669 326.78L573.292 331.081L575.614 336.121L571.599 332.503L566.895 334.991L570.272 330.69L567.95 325.65L571.964 329.267L576.669 326.78Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M52.5876 387.088H647.413H52.5876Z" fill="#F6F7FC"/>
        <path d="M52.5876 387.088H647.413" stroke="#252F71" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M217.541 246.286H153.285C150.478 246.286 148.203 248.725 148.203 251.732V381.642C148.203 384.65 150.478 387.088 153.285 387.088H217.541C220.348 387.088 222.624 384.65 222.624 381.642V251.732C222.624 248.725 220.348 246.286 217.541 246.286Z" fill="#ABABD2"/>
        <path d="M518.067 196.797H294.282C289.976 196.797 286.486 200.537 286.486 205.15V368.143C286.486 372.756 289.976 376.495 294.282 376.495H518.067C522.372 376.495 525.862 372.756 525.862 368.143V205.15C525.862 200.537 522.372 196.797 518.067 196.797Z" fill="#ABABD2" stroke="#252F71" stroke-width="4"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M260.535 365.093C260.535 365.093 261.253 371.152 264.989 377.751C269.975 386.555 277.19 387.088 277.19 387.088H406.174H535.158C535.158 387.088 542.374 386.555 547.359 377.751C551.096 371.152 551.814 365.093 551.814 365.093H406.174H260.535Z" fill="#ABABD2"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M371.664 365.093C371.664 369.483 374.963 373.017 379.06 373.017H433.289C437.386 373.017 440.684 369.483 440.684 365.093H371.664Z" fill="#C0D2E8"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M260.535 365.093C260.535 365.093 261.253 371.152 264.989 377.751C269.975 386.555 277.19 387.088 277.19 387.088H406.174H535.158C535.158 387.088 542.374 386.555 547.359 377.751C551.096 371.152 551.814 365.093 551.814 365.093H406.174H260.535V365.093Z" stroke="#252F71" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M514.954 206.138H297.395C296.185 206.138 295.204 207.189 295.204 208.485V347.592C295.204 348.889 296.185 349.94 297.395 349.94H514.954C516.164 349.94 517.145 348.889 517.145 347.592V208.485C517.145 207.189 516.164 206.138 514.954 206.138Z" fill="#E0E3F6" stroke="#252F71" stroke-width="4"/>
        <path d="M434.537 235.907H331.006C329.04 235.907 327.446 237.615 327.446 239.722V329.225C327.446 331.332 329.04 333.04 331.006 333.04H434.537C436.503 333.04 438.098 331.332 438.098 329.225V239.722C438.098 237.615 436.503 235.907 434.537 235.907Z" fill="#F6F7FC"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M331.006 235.907C329.034 235.907 327.446 237.609 327.446 239.722V243.447H438.098V239.722C438.098 237.609 436.509 235.907 434.537 235.907H331.006Z" fill="#ABABD2"/>
        <path d="M436.566 239.677C436.566 238.502 435.676 237.55 434.58 237.55C433.483 237.55 432.594 238.502 432.594 239.677C432.594 240.852 433.483 241.805 434.58 241.805C435.676 241.805 436.566 240.852 436.566 239.677Z" fill="#E0E3F6"/>
        <path d="M430.608 239.677C430.608 238.502 429.719 237.55 428.623 237.55C427.526 237.55 426.637 238.502 426.637 239.677C426.637 240.852 427.526 241.805 428.623 241.805C429.719 241.805 430.608 240.852 430.608 239.677Z" fill="#C0D2E8"/>
        <path d="M434.537 235.907H331.006C329.04 235.907 327.446 237.615 327.446 239.722V329.225C327.446 331.332 329.04 333.04 331.006 333.04H434.537C436.503 333.04 438.098 331.332 438.098 329.225V239.722C438.098 237.615 436.503 235.907 434.537 235.907Z" stroke="#ABABD2" stroke-width="2"/>
        <path d="M338.949 303.992L356.478 287.185L374.007 298.597L391.536 275.979L409.065 278.885L426.594 261.662" stroke="#ABABD2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M356.478 289.826C357.84 289.826 358.943 288.643 358.943 287.185C358.943 285.726 357.84 284.544 356.478 284.544C355.117 284.544 354.013 285.726 354.013 287.185C354.013 288.643 355.117 289.826 356.478 289.826Z" fill="#ABABD2"/>
        <path d="M374.007 301.238C375.369 301.238 376.472 300.056 376.472 298.597C376.472 297.139 375.369 295.956 374.007 295.956C372.646 295.956 371.542 297.139 371.542 298.597C371.542 300.056 372.646 301.238 374.007 301.238Z" fill="#ABABD2"/>
        <path d="M391.536 278.621C392.898 278.621 394.001 277.438 394.001 275.98C394.001 274.521 392.898 273.338 391.536 273.338C390.175 273.338 389.071 274.521 389.071 275.98C389.071 277.438 390.175 278.621 391.536 278.621Z" fill="#ABABD2"/>
        <path d="M338.949 306.633C340.311 306.633 341.414 305.451 341.414 303.992C341.414 302.534 340.311 301.351 338.949 301.351C337.588 301.351 336.484 302.534 336.484 303.992C336.484 305.451 337.588 306.633 338.949 306.633Z" fill="#ABABD2"/>
        <path d="M409.065 281.526C410.427 281.526 411.53 280.343 411.53 278.884C411.53 277.426 410.427 276.243 409.065 276.243C407.704 276.243 406.6 277.426 406.6 278.884C406.6 280.343 407.704 281.526 409.065 281.526Z" fill="#ABABD2"/>
        <path d="M426.594 264.303C427.956 264.303 429.059 263.12 429.059 261.662C429.059 260.203 427.956 259.021 426.594 259.021C425.233 259.021 424.129 260.203 424.129 261.662C424.129 263.12 425.233 264.303 426.594 264.303Z" fill="#ABABD2"/>
        <path d="M341.37 312.75H336.528C336.127 312.75 335.802 313.098 335.802 313.528V324.526C335.802 324.956 336.127 325.304 336.528 325.304H341.37C341.771 325.304 342.096 324.956 342.096 324.526V313.528C342.096 313.098 341.771 312.75 341.37 312.75Z" fill="#ABABD2" stroke="#C0D2E8" stroke-width="2"/>
        <path d="M358.225 303.687H354.731C354.046 303.687 353.491 304.282 353.491 305.016V323.804C353.491 324.538 354.046 325.133 354.731 325.133H358.225C358.91 325.133 359.466 324.538 359.466 323.804V305.016C359.466 304.282 358.91 303.687 358.225 303.687Z" fill="#ABABD2" stroke="#C0D2E8" stroke-width="2.54693"/>
        <path d="M375.999 307.053H372.015C371.436 307.053 370.966 307.557 370.966 308.178V324.066C370.966 324.687 371.436 325.191 372.015 325.191H375.999C376.579 325.191 377.048 324.687 377.048 324.066V308.178C377.048 307.557 376.579 307.053 375.999 307.053Z" fill="#ABABD2" stroke="#C0D2E8" stroke-width="2.36314"/>
        <path d="M393.32 304.198H389.752C389.083 304.198 388.541 304.779 388.541 305.496V323.843C388.541 324.56 389.083 325.141 389.752 325.141H393.32C393.989 325.141 394.532 324.56 394.532 323.843V305.496C394.532 304.779 393.989 304.198 393.32 304.198Z" fill="#ABABD2" stroke="#C0D2E8" stroke-width="2.52022"/>
        <path d="M409.867 290.179H408.264C407.153 290.179 406.252 291.144 406.252 292.334V322.791C406.252 323.981 407.153 324.946 408.264 324.946H409.867C410.977 324.946 411.878 323.981 411.878 322.791V292.334C411.878 291.144 410.977 290.179 409.867 290.179Z" fill="#ABABD2" stroke="#C0D2E8" stroke-width="3.1465"/>
        <path d="M426.772 280.944H426.417C425.014 280.944 423.877 282.162 423.877 283.665V322.122C423.877 323.625 425.014 324.843 426.417 324.843H426.772C428.174 324.843 429.311 323.625 429.311 322.122V283.665C429.311 282.162 428.174 280.944 426.772 280.944Z" fill="#ABABD2" stroke="#C0D2E8" stroke-width="3.47495"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M346.844 252.694C340.706 252.694 335.73 258.027 335.73 264.605C335.73 271.183 340.706 276.515 346.844 276.516C350.762 276.51 354.387 274.295 356.387 270.686L346.844 264.605V252.694Z" fill="#E0E3F6" stroke="#C0D2E8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M349.169 251.178V263.089L358.712 269.169C359.737 267.331 360.28 265.23 360.285 263.089C360.285 261.525 359.997 259.976 359.439 258.531C358.88 257.085 358.061 255.772 357.029 254.666C355.997 253.56 354.771 252.683 353.423 252.084C352.074 251.486 350.629 251.178 349.169 251.178Z" fill="#E0E3F6" stroke="#C0D2E8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M508.19 212.137H454.371C452.518 212.137 451.015 213.747 451.015 215.732V228.497C451.015 230.483 452.518 232.092 454.371 232.092H508.19C510.043 232.092 511.545 230.483 511.545 228.497V215.732C511.545 213.747 510.043 212.137 508.19 212.137Z" fill="#F6F7FC" stroke="#C0D2E8"/>
        <path d="M456.433 215.815C456.433 214.64 455.544 213.687 454.448 213.687C453.351 213.687 452.462 214.64 452.462 215.815C452.462 216.99 453.351 217.942 454.448 217.942C455.544 217.942 456.433 216.99 456.433 215.815Z" fill="#C0D2E8"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M461.427 222.115H504.797H461.427Z" fill="#F6F7FC"/>
        <path d="M461.427 222.115H504.797" stroke="#C0D2E8" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M461.427 217.371H502.509H461.427Z" fill="#F6F7FC"/>
        <path d="M461.427 217.371H502.509" stroke="#C0D2E8" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M461.427 226.858H487.739H461.427Z" fill="#F6F7FC"/>
        <path d="M461.427 226.858H487.739" stroke="#C0D2E8" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M222.624 253.813H148.203V376.028H222.624V253.813Z" fill="#E0E3F6"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M148.203 253.813H222.624H148.203Z" fill="#E0E3F6"/>
        <path d="M148.203 253.813H222.624" stroke="#252F71" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M189.093 248.473H181.733C180.92 248.473 180.261 249.179 180.261 250.05C180.261 250.921 180.92 251.627 181.733 251.627H189.093C189.906 251.627 190.565 250.921 190.565 250.05C190.565 249.179 189.906 248.473 189.093 248.473Z" fill="#252F71"/>
        <path d="M175.846 251.627C176.659 251.627 177.318 250.921 177.318 250.05C177.318 249.179 176.659 248.473 175.846 248.473C175.033 248.473 174.374 249.179 174.374 250.05C174.374 250.921 175.033 251.627 175.846 251.627Z" fill="#252F71"/>
        <path d="M190.817 378.804H180.01C179.372 378.804 178.855 379.358 178.855 380.041V383.075C178.855 383.758 179.372 384.312 180.01 384.312H190.817C191.454 384.312 191.971 383.758 191.971 383.075V380.041C191.971 379.358 191.454 378.804 190.817 378.804Z" fill="#252F71"/>
        <path d="M217.541 246.286H153.285C150.478 246.286 148.203 248.725 148.203 251.732V381.642C148.203 384.65 150.478 387.088 153.285 387.088H217.541C220.348 387.088 222.624 384.65 222.624 381.642V251.732C222.624 248.725 220.348 246.286 217.541 246.286Z" stroke="#252F71" stroke-width="4"/>
        <path d="M406.174 203.426C407.184 203.426 408.002 202.549 408.002 201.468C408.002 200.386 407.184 199.509 406.174 199.509C405.165 199.509 404.346 200.386 404.346 201.468C404.346 202.549 405.165 203.426 406.174 203.426Z" fill="#252F71"/>
        <path d="M215.558 259.239H155.268C154.227 259.239 153.384 260.143 153.384 261.258V304.154C153.384 305.269 154.227 306.173 155.268 306.173H215.558C216.599 306.173 217.442 305.269 217.442 304.154V261.258C217.442 260.143 216.599 259.239 215.558 259.239Z" fill="#F6F7FC"/>
        <path d="M216.561 311.219H154.265C153.778 311.219 153.384 311.642 153.384 312.164V332.228C153.384 332.75 153.778 333.172 154.265 333.172H216.561C217.048 333.172 217.442 332.75 217.442 332.228V312.164C217.442 311.642 217.048 311.219 216.561 311.219Z" fill="#F6F7FC"/>
        <path d="M216.561 338.219H154.265C153.778 338.219 153.384 338.642 153.384 339.163V359.228C153.384 359.749 153.778 360.172 154.265 360.172H216.561C217.048 360.172 217.442 359.749 217.442 359.228V339.163C217.442 338.642 217.048 338.219 216.561 338.219Z" fill="#F6F7FC"/>
        <path d="M156.906 261.762H155.739V303.65H156.906V261.762Z" fill="#E0E3F6"/>
        <path d="M173.432 286.672H169.178C168.952 286.672 168.769 286.869 168.769 287.11V302.587C168.769 302.829 168.952 303.025 169.178 303.025H173.432C173.658 303.025 173.841 302.829 173.841 302.587V287.11C173.841 286.869 173.658 286.672 173.432 286.672Z" fill="#ABABD2"/>
        <path d="M163.573 284.085H159.448C159.187 284.085 158.975 284.312 158.975 284.592V302.517C158.975 302.798 159.187 303.025 159.448 303.025H163.573C163.835 303.025 164.047 302.798 164.047 302.517V284.592C164.047 284.312 163.835 284.085 163.573 284.085Z" fill="#ABABD2"/>
        <path d="M182.785 280.695H178.83C178.522 280.695 178.272 280.963 178.272 281.293V302.427C178.272 302.757 178.522 303.025 178.83 303.025H182.785C183.094 303.025 183.343 302.757 183.343 302.427V281.293C183.343 280.963 183.094 280.695 182.785 280.695Z" fill="#ABABD2"/>
        <path d="M192.978 284.977H188.809C188.56 284.977 188.358 285.194 188.358 285.461V302.541C188.358 302.808 188.56 303.025 188.809 303.025H192.978C193.227 303.025 193.429 302.808 193.429 302.541V285.461C193.429 285.194 193.227 284.977 192.978 284.977Z" fill="#ABABD2"/>
        <path d="M202.665 280.677H198.71C198.402 280.677 198.152 280.945 198.152 281.276V302.426C198.152 302.757 198.402 303.025 198.71 303.025H202.665C202.973 303.025 203.223 302.757 203.223 302.426V281.276C203.223 280.945 202.973 280.677 202.665 280.677Z" fill="#ABABD2"/>
        <path d="M212.254 272.476H208.71C208.288 272.476 207.946 272.843 207.946 273.294V302.207C207.946 302.658 208.288 303.025 208.71 303.025H212.254C212.676 303.025 213.018 302.658 213.018 302.207V273.294C213.018 272.843 212.676 272.476 212.254 272.476Z" fill="#ABABD2"/>
        <path d="M215.087 303.65V302.4H155.739V303.65H215.087Z" fill="#E0E3F6"/>
        <path d="M157.936 322.196H211.808" stroke="#E0E3F6" stroke-width="3" stroke-linejoin="round"/>
        <path d="M158.101 317.334H212.89" stroke="#E0E3F6" stroke-width="3" stroke-linejoin="round"/>
        <path d="M157.936 327.058C158.518 327.058 183.331 327.058 183.331 327.058" stroke="#E0E3F6" stroke-width="3" stroke-linejoin="round"/>
        <path d="M157.936 349.196H189.788" stroke="#E0E3F6" stroke-width="3" stroke-linejoin="round"/>
        <path d="M158.102 344.333H204.53" stroke="#E0E3F6" stroke-width="3" stroke-linejoin="round"/>
        <path d="M157.936 354.058H197.462" stroke="#E0E3F6" stroke-width="3" stroke-linejoin="round"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M154.265 365.219C153.777 365.219 153.383 365.64 153.383 366.163V376.028H217.443V366.163C217.443 365.64 217.049 365.219 216.561 365.219H154.265Z" fill="#F6F7FC"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M148.203 376.028H222.624H148.203Z" fill="#E0E3F6"/>
        <path d="M148.203 376.028H222.624" stroke="#252F71" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M158.102 371.333H204.53" stroke="#E0E3F6" stroke-width="3" stroke-linejoin="round"/>
      </g>
      <defs>
        <clipPath id="clip0">
          <rect width="700" height="500" fill="white"/>
        </clipPath>
      </defs>
    </svg>
  </div>

  <div class="col-md-6 text-left">
    <div class="text-center">
      <h2> Chacao Investimentos</h2>
      <p> Invista e assuma sua autonomia financeira</p>
      <button class="btn btn-primary">Ver Produtos de Investimento</button>
    </div>
  </div>
</div>