<div class="p-3">
  <div class="card h-100 product-card shadow-sm">
    <div class="card-body d-flex flex-column justify-content-around" id="card-body">
      <%= link_to show_investment_fund_path(investment_fund), class: "product-title text-center" do %>
        <h5 class="card-title max-lines-2"><%= investment_fund.name %></h5>
      <% end %>
      <h5 class="card-title d-flex justify-content-center">Fundo de Investimento</h5>
      <div class="d-flex justify-content-center">
        <%= link_to show_investment_fund_path(investment_fund), class: "btn btn-color w-50" do %>
          <span><strong><%="R$ #{investment_fund.value}" %></strong></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
